# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
#Assignment 1: Creating and Accessing Tuples
#Create a tuple with the first 10 positive integers. Print the tuple.
tpl = tuple(range(1,11))
print(tpl)
print(type(tpl))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [7]:
#Assignment 2: Accessing Tuple Elements
#Print the first, middle, and last elements of the tuple created in Assignment 1
print(tpl[1])
print(tpl[-1])
print(tpl[len(tpl)// 2])

2
10
6

In [8]:
# Assignment 3: Tuple Slicing
#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(tpl[:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [9]:
#Assignment 4: Nested Tuples
#Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

tpl = ((1,5,6),(1,6,7),(4,5,6))
for row in tpl:
  print(row)
print(tpl[1][2])

(1, 5, 6)
(1, 6, 7)
(4, 5, 6)
7

In [10]:

#Assignment 5: Tuple Concatenation
#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tup1 = (1,2,3)
tup2 = (4,5,6)
tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 4, 5, 6)

In [11]:
# Assignment 6: Tuple Methods
#Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
tpl = (1,4,4,3,4,2,6,1,6,2,7,34,32,14)
print(tpl.count(4))
print(tpl.index(4))

3
1

In [13]:
#Assignment 7: Unpacking Tuples
#Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
tpl = (1,2,3,4,5)
a,b,c,d,e = tpl
print(a,b,c,d,e)

1 2 3 4 5

In [14]:
#Assignment 8: Tuple Conversion
#Convert a list of the first 5 positive integers to a tuple. Print the tuple.
tpl = tuple([a for a in range(1,6)])
print(tpl,type(tpl))

(1, 2, 3, 4, 5) <class 'tuple'>

In [15]:
#Assignment 9: Tuple of Tuples
#Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
tpl_of_tples = (
  (1,2,3),
  (4,5,6),
  (3,5,6)
)
print(tpl_of_tples)

((1, 2, 3), (4, 5, 6), (3, 5, 6))

In [16]:
#Assignment 10: Tuple and List
#Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tpl = tuple([a for a in range(1,6)])
print(tpl)
lst = list(tpl)
print(lst)
lst.append(6)
print(lst)
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [27]:
# Assignment 11: Tuple and String
#Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
tpl = tuple("abhinav")
print(tpl)
string = ''.join(tpl)
print(string)

('a', 'b', 'h', 'i', 'n', 'a', 'v')
abhinav

In [28]:
# Assignment 12: Tuple and Dictionary
#Create a dictionary with tuple keys and integer values. Print the dictionary.
dict = {
  (1,2,3,4):4,
  (1,2,3,4,5):5
}
print(dict)

{(1, 2, 3, 4): 4, (1, 2, 3, 4, 5): 5}

In [29]:
#Assignment 13: Nested Tuple Iteration
#Create a nested tuple and iterate over the elements, printing each element.
tpl = (
  (1,2,3),
  (4,5,6),
  (7,8,9)
)
for row in tpl:
  for element in row:
    print(element)

1
2
3
4
5
6
7
8
9

In [30]:

#Assignment 14: Tuple and Set
#Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
tpl = (1,2,3,2,3,2,1,3,2,3,14,14,1,4,23,4,2,4,2,34,2,3,4,23,4,2,34,3)
print(tpl)
st = set(tpl)
print(st)
tpl = tuple(st)
print(tpl)

(1, 2, 3, 2, 3, 2, 1, 3, 2, 3, 14, 14, 1, 4, 23, 4, 2, 4, 2, 34, 2, 3, 4, 23, 4, 2, 34, 3)
{1, 2, 3, 4, 34, 14, 23}
(1, 2, 3, 4, 34, 14, 23)

In [32]:
# Assignment 15: Tuple Functions
#Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple
def func(tpl):
  sm = sum(tpl)
  mn = min(tpl)
  mx = max(tpl)
  return sm,mn,mx

sm,mn,mx = func(tpl)
print(sm,mn,mx)

81 1 34